# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#cursor
.cursor/rules    

# Large data files and datasets
public/data/large-datasets
*.csv
*.json

# keed smaller sample files
!public/data/samples/
!public/data/*-sample.json

# 3D model files
*.blend
*.blend1
*.fbx
*.obj
*.gltf
*.glb
# Keep smaller model files
!public/models/small/

# Jupyter notebooks + Python stuff -sim related 
.ipynb_checkpoints/
*.pyc
__pycache__/
.pytest_cache/

# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
